

html {
    background: none repeat scroll 0 0 #eee;
}
body {
    font-family: Verdana;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
}
button {
    background: -moz-linear-gradient(center top , #008dfd 0px, #0370ea 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: 1.5em;
    line-height: 1.3;
    padding: 5px 12px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    transition: none 0s ease 0s ;
}
button:hover {
    background: none repeat scroll 0 0 rgb(9, 147, 240);
}
button:active {
    background: none repeat scroll 0 0 rgb(10, 118, 190);
}
button[disabled] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgb(187, 181, 181);
    color: gray;
    text-shadow: none;
}
audio, video {
    transition: all 1s ease 0s;
    vertical-align: top;
}
input {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 1.3em;
    width: 800px;
}
select {
    border: 2px solid #d9d9d9;
    border-radius: 2px;
    font-size: 1.3em;
    width: 806px;
    padding: 2px;
    margin-bottom: 5px;
}
label {
    display: inline-block;
    width: 20%;
}
.content {
    margin: 30px;
}
#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}
.example {
    padding: 10px;
    border: 1px solid #ccc;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.place_holder{
    color: gray;
}
.output-panel {
    max-height: 80%;
    overflow: hidden;
}
option{
    color: #000000;
}
#map { position:absolute; top:0; bottom:0; width:100%; }



#layerManager {
    float:right;
    padding: 0px 10px;
    height: 100%;
    background: white;
    /*display: none;*/
}

#leftPanel {
    float:left;
}

#panel {
    opacity: 1;
    position: fixed;
    right: -270px;
    z-index: 10;
    height: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.panel {

}

.control-button {
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.9);
    padding: 8px;
    margin: 0px 6px 7px 0px;
    border-radius: 4px;
}

.lmButton {
    background-image: url("image/lm.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.control-button:hover:after {
    content: attr(title);
    display: block;
    position: relative;
    color: white;
    width: 100px;
    height: 100px;
    left: -99px;
}

.locButton {
    background-image: url("image/locationgrey.png");
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

.control-button:active {
    box-shadow: 0 0 0 3px #7D7E81, 0 0 1px rgba(126, 119, 119, 0);
}
.control-button[active="true"] {
    /* box-shadow: 0 0 0 3px #7D7E81, 0 0 1px rgba(126, 119, 119, 0); */
    background: rgba(29, 149, 254, 1);
    background-image: url("image/lm_active.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.control-button[active2="true"] {
    /* box-shadow: 0 0 0 3px #7D7E81, 0 0 1px rgba(126, 119, 119, 0); */
    background-image: url("image/locationblue.png");
    background-repeat: no-repeat;
    background-position: 6px 6px;
}

.control-button:hover {
    box-shadow: 0px 0px 12px rgba(233, 215, 215, 0.6);
}

.control-button:hover:after {
    content: attr(customt);
    display: block;
    position: relative;
    color: rgb(22, 2, 2);
    width: 57px;
    left: -84px;
    top: -24px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 6px 6px 9px 6px;
    font-family: 'futura';
    border-radius: 4px;
    font-size: 14px;
    height: 18px;
}

.locButton:hover:after {
    content: attr(customt);
    top: -8px;
}

.lmButton:hover:after {
    content: attr(customt);
    top: -8px;
    width: 89px;
    left: -116px;
}

div#firstbuttonset {
    margin-top: 15px;
}

.centered {
    text-align: center;
}





#zoominButton {
    background-image: url("image/plus.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: block;
}

#zoomoutButton {
    background-image: url("image/neg.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: block;
}



div#lmTitle {
    margin: 15px 10px 10px 0px;
    width: 100%;
}

#lmTitle span {
    /* color: white; */
    font-family: segoe ui;
}

span#lmCloseButton {
    background-image: url("image/close.png");
    width: 21px;
    height: 21px;
    float: right;
    background-position: center;
    background-color: rgba(213, 213, 213, 0.9);
}

span#lmCloseButton:hover {
    box-shadow: 0px 0px 12px rgba(58, 56, 56, 1);
}

.layer {
    height: 65px;
    width: 250px;
    /*opacity: 0.88;*/
    -webkit-filter: grayscale(90%);
    -moz-filter: grayscale(90%);
    -o-filter: grayscale(90%);
    filter: grayscale(90%);
    margin-bottom: 12px;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 1s; /* For Safari 3.1 to 6.0 */
    -o-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

.layer[active="true"] {
    /*opacity: 1;*/
    -webkit-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.layer:hover {
    /*opacity: 1;*/
    -webkit-filter: grayscale(20%) brightness(120%) contrast(120%);
    -moz-filter: grayscale(20%) brightness(120%) contrast(120%);
    -o-filter: grayscale(20%) brightness(120%) contrast(120%);
    filter: grayscale(20%) brightness(120%) contrast(120%);
    background-size: 103%;
    /* background-position: -5px -5px; */
}

.layer::before
{
    color:white;
    padding: 0px 8px 3px 8px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    background: #2B2828;
}

div#layer1 {
    background-image: url("image/rasterlayer.png");
}

div#layer1::before
{
    content: "Raster Layer";
}

div#layer2 {
    background-image: url("image/satellite.jpg");
}

div#layer2::before
{
    content: "Satellite";
}

div#layer3 {
    background-image: url("image/terrain.jpg");
}

div#layer3::before
{
    content: "Terrain Layer";
}

div#layer4 {
    background-image: url("image/vectorlayer.png");
}

div#layer4::before
{
    content: "Vector Layer";
}

.stat{
    padding: 2px 20px 12px 12px;
}
#left {
    opacity: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    top: 50%;
    height: 100%;
}

#stats {
    opacity: 1;
    margin:auto;
    position: relative;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}
/* chart style */
#stats div span div {
    padding: 0px;
    width: 200px;
    height: 100px;

}

#stats span {
    display: block;
    font: 27px "HelveticaNeue-UltraLight", arial;
}



.without_icon {
    padding-top: 5px;
}

#stat1 {
    background-color: #223556;
    font-size: 18px;
}

#stat2 {
    background-color: #253c64;
    font-size: 18px;
}
#stat3 {
    background-color: #294473;
    font-size: 18px;
}
#stat4 {
    background-color: #2a4a81;
    font-size: 18px;
    padding: 10px 20px 12px 12px;
}
#stat5 {
    background-color: #2b4f8c;
    font-size: 18px;
    padding: 10px 20px 12px 12px;
}
#stat6 {
    background-color: #3663AF;
    font-size: 18px;
    padding: 10px 20px 12px 12px;
}
#stat6:hover {
    box-shadow: 0px 0px 12px rgba(233, 215, 215, 1);
}
.title_icon {
    vertical-align: middle;
    padding-right: 13px;
    height: 35px;
}

.number_txt {
    color: #19dcb5;
    font-family: "futura light";
}


tspan {
    font-family: "Lato-Lig";
    font-size: 15px;
}
#downloadPeer {
    margin: 0px auto;
    display: block;
}

#downloadServer {
    margin: 0px auto;
}

.percent_text {
    display: none !important;
    /*padding-left: 16px;*/
}



@media only screen and (max-device-width: 640px) {
    span#downloadPeer {
        display: none;
    }
    span#downloadServer {
        display: none;
    }
    img.title_icon {
        height: 14px;
    }

    #stats span {
        font-size: 14px;
        text-align: center;
    }
    .stat {
        padding: 2px 5px 7px 7px;
    }
    #stat1 {
        font-size: 13px;
    }

    #stat2 {
        font-size: 13px;
    }

    #stat3 {
        font-size: 13px;
    }

    #stat4 {
        font-size: 13px;
        padding: 7px 5px 7px 7px;
    }
    #stat5 {
        font-size: 13px;
        padding: 7px 5px 7px 7px;
    }

    .layer {
        width: 125px;
    }

    #panel {
        right: -145px
    }

    .percent_text {
        display: inline !important;
    }

    .control-button:hover:after {
        display: none;
    }
}
.title_peer_icon {
    height: 26px;
}
