:host {
  display: block;
}

.centered {
  text-align: center;
}

#left {
    opacity: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
    top: 50%;
    height: 100%;
}

#stats {
    opacity: 1;
    margin:auto;
    position: relative;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}
/* chart style */
#stats div span div {
    padding: 0px;
    width: 200px;
    height: 100px;

}

#stats span {
    display: block;
    font: 27px "HelveticaNeue-UltraLight", arial;
}



.without_icon {
    padding-top: 5px;
}

#stat1 {
    background-color: #223556;
    font-size: 18px;
}

#stat2 {
    background-color: #253c64;
    font-size: 18px;
}
#stat3 {
    background-color: #294473;
    font-size: 18px;
}
#stat4 {
    background-color: #2a4a81;
    font-size: 18px;
    padding: 10px 20px 12px 12px;
}
#stat5 {
    background-color: #2b4f8c;
    font-size: 18px;
    padding: 10px 20px 12px 12px;
}
#stat6 {
    background-color: #3663AF;
    font-size: 18px;
    padding: 10px 20px 12px 12px;
}
#stat6:hover {
    box-shadow: 0px 0px 12px rgba(233, 215, 215, 1);
}
.title_icon {
    vertical-align: middle;
    padding-right: 13px;
    height: 35px;
}

.number_txt {
    color: #19dcb5;
    font-family: "futura light";
}


tspan {
    font-family: "Lato-Lig";
    font-size: 15px;
}
#downloadPeer {
    margin: 0px auto;
    display: block;
    width:140px;
    height:110px;
}

#downloadServer {
    margin: 0px auto;
    width:140px;
    height:110px;
}

.percent_text {
    display: none !important;
    /*padding-left: 16px;*/
}



@media only screen and (max-device-width: 640px) {
    span#downloadPeer {
        display: none;
    }
    span#downloadServer {
        display: none;
    }
    img.title_icon {
        height: 14px;
    }

    #stats span {
        font-size: 14px;
        text-align: center;
    }
    .stat {
        padding: 2px 5px 7px 7px;
    }
    #stat1 {
        font-size: 13px;
    }

    #stat2 {
        font-size: 13px;
    }

    #stat3 {
        font-size: 13px;
    }

    #stat4 {
        font-size: 13px;
        padding: 7px 5px 7px 7px;
    }
    #stat5 {
        font-size: 13px;
        padding: 7px 5px 7px 7px;
    }

    .layer {
        width: 125px;
    }

    #panel {
        right: -145px
    }

    .percent_text {
        display: inline !important;
    }

    .control-button:hover:after {
        display: none;
    }
}
.title_peer_icon {
    height: 26px;
}
